@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* common */


body{font-size: 14px; font-family:'Noto Sans KR',sans-serif;
    letter-spacing: -1px;}
body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

a{text-decoration: none; color: #000;}


/* layout */
#wrap{width: 100%;}
#header{z-index:50; position: fixed; width: 100%;}
    .header_wrap{position: absolute; left: 0; width: 100%; height:100px; background: #222;
        background: url(../images/bg_header.png) repeat-x 0 0;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
        .header_inner{position:relative;width: 1340px;margin: 0 auto;}
#container{width: 100%;}
    #content1{z-index:40;position:fixed;left:20px;bottom:5%;
        width: 130px; height:200px;}
    #content2{z-index:40;position:fixed; right: 5px; bottom: 140px;width:153px;
     }
    #content3,#conent4,#content5,#content6,#content7{height:100vh;
    overflow: hidden;}
#footer{ width: 100%; height: 330px; background: #222; color: #777;
    text-align: center; letter-spacing: 0;}
      .foot_wrap{ width: 1393px; height:268px; margin: 0 auto;
        border: 1px solid rgba(0,0,0,0); }


@media screen and (max-width:768px){
  
  
  #wrap{width: 100%; overflow: hidden;}
  #header{z-index:50; position: fixed; width: 100%;}
  .mbn_wrap{position: absolute; left: 0; width: 100%; background: #fff;
  height:60px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
  .mbn_inner{position:relative;width: 100%;margin: 0 auto;}
  #container{width: 100%; }
  #content3,#conent4,#content5,#content6,#content7{height:100vh;
    overflow: hidden;}
  #footer{position: relative; width: 100%; height: 300px; background: #222; color: #777;
  text-align: center; letter-spacing: 0; overflow: hidden;}
  .foot_wrap{position: relative; width: 100%; height:268px; margin: 0 auto;
  ; overflow: hidden;}
  
     
  /* header_inner */

  .header_wrap{display: none;}
  
  .mbn_inner>h1.logo_mega1{
  position:absolute;
  left:-140px;
  top:-45px;
  transform: scale(0.35);
  }
  
  .sns_m1{display: none;}
  
  div.mobBtn{z-index: 100; display: block; position: absolute; top: 20px; right: 10px;}
  
  .mbn_gnb{display: none;}
  .mobBtn_close{display: none;}
  
  .gnb{display: none;}
  .sns_m{display: none;}
  
  /* 햄버거버튼 */
  input[id="icon"] {
      display:none;
  } 
  
  
  
  input[id="icon"] + label{
      position: relative;
      display:block;
      margin-top:25px;
      left:95%;
      width:20px;
      height:15px;
      cursor:pointer;  
  } 
  
  input[id="icon"] + label > span {
      position: absolute;
      display:block;
      width:100%;
      height:2px;
      border-radius:30px;
      background:#000;
      transition: all 0.35s;
      z-index:2;
  
  }
  
  input[id="icon"] + label > span:nth-child(1) {
      top:0px;
  }
  
  input[id="icon"] + label > span:nth-child(2) {
      top:50%;
      transform: translateY(-50%);  
  }
  
  input[id="icon"] + label > span:nth-child(3) {
      bottom:0px;
  }
  
  
  input[id="icon"]:checked + label > span:nth-child(1) {
      top:50%;
      transform:translateY(-50%) rotate(45deg);
      background-color:#fff;
  }
  
  input[id="icon"]:checked + label > span:nth-child(2) {
      opacity: 0;
  }
  
  input[id="icon"]:checked + label > span:nth-child(3) {
      bottom:50%;
      transform:translateY(50%) rotate(-45deg);
      background-color: #fff;
  }
  
  #icon + label + #mbn_header {
      position:fixed;  
      width:250px;
      height:100%;
      background:#222;
      border-right: 5px solid #fff;
      top:0px;
      padding:60px 25px 25px 25px;
      box-sizing:border-box;
      right:-500px;
      z-index:1;
      transition: all 0.35s;
  }
  
  #icon:checked + label + #mbn_header {
      right:0px;
  }
  
  #icon:checked + label + #mbn_header > ul > li > a {
      color: white;}
  
  /* 리스트 */
  
  #mbn_header>h1.logo_mega2{
  position: relative;
  left:-50px;
  top:-20px;
  transform: scale(0.4);}   
  
  #mbn_header>ul{font-size:14.5px;
  width:500px;
  margin-left: 10px;
  margin-top: -20px;
  line-height: 50px;}
  
  #mbn_header>ul>li a{color: #fff;}
  
  #mbn_header>ul>li>ul{display: none;}
  
  #mbn_header>ul>li>ul{line-height: 1.5;}
  #mbn_header>ul>li>ul>li a{
  margin-left:20px;
  font-size:12px;color:#888;}
  
  #mbn_header>ul>li>ul>li a:hover{
  color:#fff;
  text-decoration: underline;
  }
  /* 화살표 */
  
  input[id="arrow_1"],input[id="arrow_2"],input[id="arrow_3"],input[id="arrow_4"],input[id="arrow_5"] {
      display:none;
  } 
  
  input[id="arrow_1"]+ label,
  input[id="arrow_2"]+ label,
  input[id="arrow_3"]+ label,
  input[id="arrow_4"]+ label,
  input[id="arrow_5"] + label{
      position: relative;
      display:block;
      right: 30px;
      top: -53px;
      width: 9px;
      height:14px;
      cursor:pointer;
      transform: scale(1.2);
  } 
  
  input[id="arrow_1"]+ label > span,
  input[id="arrow_2"]+ label > span,
  input[id="arrow_3"]+ label > span,
  input[id="arrow_4"]+ label > span,
  input[id="arrow_5"] + label > span {
      position: absolute;
      display:block;
      width:100%;
      height:1px;
      border-radius:30px;
      background:#ccc;
      z-index:2;
  
  }
  
  input[id="arrow_1"]+ label > span:nth-child(1),
  input[id="arrow_2"]+ label > span:nth-child(1),
  input[id="arrow_3"]+ label > span:nth-child(1),
  input[id="arrow_4"]+ label > span:nth-child(1),
  input[id="arrow_5"] + label > span:nth-child(1) {
      top:22px;
      left:175px;
      transform:rotate(50deg);
  }
  
  input[id="arrow_1"]+ label > span:nth-child(2),
  input[id="arrow_2"]+ label > span:nth-child(2),
  input[id="arrow_3"]+ label > span:nth-child(2),
  input[id="arrow_4"]+ label > span:nth-child(2),
  input[id="arrow_5"] + label > span:nth-child(2) {
      top:28.5px;
      left:175px;
      transform: rotate(-50deg);  
  }
  
  
  
  input[id="arrow_1"]:checked+ label > span:nth-child(1),
  input[id="arrow_2"]:checked+ label > span:nth-child(1),
  input[id="arrow_3"]:checked+ label > span:nth-child(1),
  input[id="arrow_4"]:checked+ label > span:nth-child(1),
  input[id="arrow_5"]:checked + label > span:nth-child(1) {
      transform: rotate(-50deg);
      top:25px;
      left:180.5px;
      
  }
  
  input[id="arrow_1"]:checked+ label > span:nth-child(2),
  input[id="arrow_2"]:checked+ label > span:nth-child(2),
  input[id="arrow_3"]:checked+ label > span:nth-child(2),
  input[id="arrow_4"]:checked+ label > span:nth-child(2),
  input[id="arrow_5"]:checked + label > span:nth-child(2) {
      top:25px;
      transform: rotate(50deg);
    }
  
  #arrow_1:checked+ label+ ul,
  #arrow_2:checked+ label+ ul,
  #arrow_3:checked+ label+ ul,
  #arrow_4:checked+ label+ ul,
  #arrow_5:checked + label + ul
  {display: block;}

#content1,#content2{display: none;}


/* content3 */


#content3{width:100%; height: 100vh; background-color: red;}
video{width: 100%; height: 100%;
overflow: hidden; object-fit: cover;}


#content3 {
	position: relative;
	overflow: hidden;
  width: 100%;
	height: 100%; 
}

#content3 img{
  width: 100%; height: 100%;
 
  object-fit: cover;}

.banner1 img{ content:url(../images/mbn_banner1.jpg)}
.banner2 img{ content:url(../images/mbn_banner2.jpg)}
.banner3 img{ content:url(../images/mbn_banner3.jpg)}
.banner4 img{ content:url(../images/mbn_banner4.jpg)}
.banner5 img{ content:url(../images/mbn_banner5.jpg)}
.banner6 img{ content:url(../images/mbn_banner6.jpg)}

/* SLIDER */

#content3 .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

#content3 .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}


#content3 .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

#content3 .prevNext > div+div {
	visibility: hidden;
}

#content3 .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
#content3 .prevNext a:hover {
	opacity: 1;
}
#content3 .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

#content3 .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
#content3 .bullets > a {
	display: inline-block;
	width: 30px;
	height: 15px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
#content3 .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); 
}
#content3 .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}


#content3 >s:target ~ .bullets >* { background: rgba(255, 255, 255, 0.5);}

#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
#s7:target ~ .bullets >*:nth-child(7) {background: rgba(255, 255, 255,   1);}

#content3 >s:target ~ .prevNext >* {visibility: hidden;}

#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}

#content3{
	color: #fff;	
	text-align: center;
}
#content3 .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
#content3 a {
	border-radius: 50px;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
 
/* 스크롤을 내리세요! */

.banner_rolling{z-index:1;
  position:absolute;
  left:50%;transform: translateX(-50%);bottom: 30px;
  text-align: center;}
  .banner_rolling>p{margin-bottom:10px;}
  .banner_rolling>p>a{color:#fff; font-size:16px; line-height: 3;}
  .banner_rolling>span{border:1px solid #fff;
  width:30px;height:30px;}
  
  .banner_rolling>p,.banner_rolling>p span {animation:ani 1s linear 2s infinite alternate;
    transition: bottom 1s linear 0s;}
  
  @keyframes ani{
  0%{transform: translateY(0);opacity: 1;color:#fff;}
  50%{opacity:0.8;color:rgba(0,0,0,0.5)}
  100%{transform: translateY(10px);opacity: 0.6;color:rgba(0,0,0,0.1);}}
  
  .banner_rolling>ul>.dot:active{width:30px; height:8px; background-color: #fff;
  }
      
  /* 마우스 모양  */
    .banner_rolling>p span {
      position: absolute;
      padding-top: 45px;
      top: -50px;
      left: 50%;
      width: 25px;
      height: 10px;
      margin-left: -15px;
      border: 2px solid #fff;
      border-radius: 60px;
      box-sizing: border-box;
      text-indent: -9999px;
    }
    .banner_rolling>p span::before {
      position: absolute;
      top: 10px;
      left: 50%;
      content: '';
      width: 5px;
      height: 7px;
      margin-left: -3px;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: sdb 1s infinite;
      animation: sdb 15s infinite;
      box-sizing: border-box;
    }
    @-webkit-keyframes sdb {
      0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes sdb {
      0% {
        transform: translate(0, 0);
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        transform: translate(0, 20px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  

/* content4 */

#content4{font-family: 'Noto Sans KR',sans-serif;
height:100vh;
}

#content4>section>div{float:left;}

#content4>section>div>h3{font-size: 14px; font-weight: lighter; color: #222;
padding-top: 200px;margin-left:50px;}

#content4>section>div>p{margin-left:50px;}

#content4>section>div>.new_menu{font-family: 'Noto Sans KR',sans-serif;
font-size: 36px; font-weight: bold;
letter-spacing: 0;} 

#content4>section>div>.new_menu>span{background: url(../images/bar_yellow.png) no-repeat 0 0;
width:423px;height:31px;
background-position: 0 40px;}
#content4>section>div>p:nth-of-type(2){padding-top:15px; font-size:16px;}
#content4>section>div>p:nth-of-type(3){padding-top:15px; font-size:12px; color:#222;} 

#content4>section>div>button{display:none;}

/* menu_set */

.menu_wrap{width:100%; height:100px;}


.menu_wrap>div
{float:left;
position: relative;
left:0;
top:50px;
width: 180px;
height: 250px;
border:1px solid rgb(230, 230, 230);
border-radius: 20px;
margin-left:10px;
overflow:hidden;}



.menu_wrap>div>img
{
object-fit: cover;
display: inline-block;
width:100%;
height:150px;
}


.menu_wrap>div>div{
background-color: rgb(244,246,248);
height:200px;}

.menu_wrap>div>div>dl{
font-size:12px;
padding-top:30px;
line-height:2; margin-left:30px;}

.menu_wrap>div>div>dl>dd{
font-size:10px;
color: rgb(170,170,170);} 

.menu_wrap>div>div>dl>dd:nth-of-type(2){display: none;}

/* 이전-다음 */

.banner_arrow{display: none;}

/* //content4 */

/* content5 */

#content5{width:100%;}

#content5>section{font-family: 'Noto Sans KR',sans-serif;
background-color: rgb(254,208,0); height:100vh;}

#content5>section>.cost{padding-top:200px;
  margin-left:50px;}
#content5>section>.cost>h3{
font-size: 14px; font-weight: lighter; color: #222;}
#content5>section>.cost>.fr_mega{font-size: 36px; 
font-family:'Roboto',sans-serif;
font-weight: 900;}
#content5>section>.cost>p:nth-of-type(2){font-size: 16px; font-weight:bold;}
#content5>section>.cost>p:nth-of-type(2)>span{font-size: 32px;
font-family:'Roboto',sans-serif;font-weight: 900;}
#content5>section>.cost>p:nth-of-type(3){font-size: 16px; margin-top:5px;}
#content5>section>.cost>p:nth-of-type(4){font-size: 12px; margin-top:5px;}

#content5>section>.cost>.fr_mega>span{margin-left:-30px;}
#content5>section>.cost>.fr_mega>span{background-color: #fff;
padding-left:25px;
padding-right:20px;}

.video_mega{position:relative;
left: 10%; bottom: 0px;
margin-bottom:30px;
transform: scaley(0.8);}


.video_mega>p{
background-color: #222;
width:498px; height: 50px;
text-align: center;
padding-top: 15px;
margin-top: -5px;
transition: bottom 1s linear 0s;} 
.video_mega>p>a{color: #fff; font-size: 18px;}
.video_mega>p:hover{
position: relative;
background-color:#703614;
bottom:5px;}

/* content6 */
#content6>section{height: 100vh;}

#content6>section>.sub6_l{
float:left;
margin-left: 50px;
margin-top: 50px;
background-color: #fff;}
#content6>section>.sub6_l>h3{font-size: 16px; font-weight: lighter; color: #222;
padding-top:40px;
padding-bottom:20px;}
#content6>section>.sub6_l>.mega_shot{font-size: 40px; 
font-family:'Roboto',sans-serif;
font-weight: 900;}
#content6>section>.sub6_l>p:nth-of-type(2){font-size: 22px;margin-top: 20px}
#content6>section>.sub6_l>p:nth-of-type(3)>span{font-size: 40px;
font-family:'Roboto',sans-serif;font-weight: 900;}
#content6>section>.sub6_l>p:nth-of-type(3){font-size: 14px;
margin-top:20px;}
#content6>section>.sub6_l>button{
position: relative; z-index: 1;
cursor: pointer;
font-weight: bold;font-size: 16px; margin-top:30px;
border:none;
background-color: rgb(254,208,0);
width:150px; height:60px;
transition: bottom 1s linear 0s;}
#content6>section>.sub6_l>button:nth-of-type(2){margin-left:20px;}
#content6>section>.sub6_l>button:hover{position: relative;
bottom:5px;
background-color: rgb(255,223,68);}

#content6>section>.sub6_r{
position:relative;
width:100%;height:100vh;
transform:scale(0.5);
opacity: 0.1;
left:-50%;}


/* content7 */

#content7>section{
background-color:#fff;
}

#content7>section>h3{font-size: 14px; text-align: center;
margin-top:50px;}

#content7>section>h3>span{font-size:36px; 
font-family:'Roboto',sans-serif;font-weight: 900;
background: url(../images/bar_yellow.png) no-repeat  0 0 ;
width:423px;height:41px;
background-position-y: 30px;}

#content7>section>div
{position:relative;
margin-top:50px;
margin-right: 30px;
left: 40px;
display: inline-block;
width: 530px;
height: 150px;
border:1px solid rgb(230,230,230);
background-color: #fff;
border-radius: 20px;
overflow: hidden;
cursor: pointer;
}

#content7>section>div>div
{
width: 150px;
height: 300px;
background-color: #fff;
overflow: hidden;
cursor: pointer;

}
#content7>section>div>div>a img
{object-fit: cover;
width:100%;
transition: all 0.1s linear;}

#content7>section>div:hover>div>a img
{transform: scale(1.1);}

#content7>section>div>dl{margin-top:-300px; margin-left:200px;}
#content7>section>div>dl>dt{font-size:14px;line-height:4;}
#content7>section>div>dl>dd{color: #888;font-size:12px;}
#content7>section>div>dl>dd:last-of-type{line-height: 4; color: #777;}

#content7>section>p{text-align: center;margin-top:50px;
margin-left:30px;
font-size:14px;}

#content7>section>button{position:relative;
left:39%;
font-weight: bold;font-size: 18px; 
margin-top:20px;
margin-bottom:100px;
border:none;
background-color: rgb(254,208,0);
width:160px; height:50px;
cursor: pointer;
transition: bottom 1s linear 0s;}

#content7>section>button:hover{
bottom: 5px;
background-color:rgb(255,223,68);}

/* footer */
    
    
.footer_inner>.foot_menu{
  background-color: rgb(254,208,0); 
  width:100%;height:40px;}
  
  .footer_inner>.foot_menu>ul>li{display: inline-block;
  margin:20px 20px; margin-top:10px; text-align: center;
  font-size:12px; font-weight: bold;}
  
  .footer_inner>.foot_menu>ul>li:hover{
  text-decoration: underline;}
              
              
  .foot_wrap>.foot_img>h3{
  position:absolute;
  left:60px;
  transform: scale(0.4);
  }
      
  .foot_wrap>.foot_img>ul>li{float:left;
  position:relative;}
              
  .foot_wrap>.foot_img>ul>li>a{
  display: block;
  position:relative;
  left:240px;top:80px;
  border: none;
  background-color: #fff !important;
  width: 33px; height: 33px;
  transform: scale(0.8);
  padding:3px; 
  border-radius: 30px;
  text-indent: -9999px; overflow: hidden;}
                  
  .foot_wrap>.foot_img>ul>li>a:hover{
  background-color: rgb(254,208,0) !important;}
              
  .foot_wrap>address{clear:both;width: 550px; margin-left:40px;
  margin-top:130px;}
  .foot_wrap>address>span{
  position:relative;padding-right: 10px;
  line-height: 1.5; text-align: center;
  font-size:10.5px; color:#888;}
  .foot_wrap>address>span:first-of-type{font-weight: bold; color:#fff;}
  .foot_wrap>address>span:nth-of-type(6),.foot_wrap>address>span:nth-of-type(7)
  {margin-left: 30px;}             
                           
              
  .foot_wrap>.foot_img>ul>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;}
              
  .foot_wrap>.foot_list{display: none;}
}

@media screen and (min-width:769px) and (max-width:1025px)
{
  #wrap{width: 100%; overflow: hidden;}
    #header{z-index:50; position: fixed; width: 100%;}
    .mbn_wrap{position: absolute; left: 0; width: 100%; background: #fff;
    height:70px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
    .mbn_inner{position:relative;width: 100%;margin: 0 auto;}
    #container{width: 100%; }
    #content3,#conent4,#content5,#content6,#content7{height:100vh;
      overflow: hidden;}
    #footer{position: relative; width: 100%; height: 230px; background: #222; color: #777;
    text-align: center; letter-spacing: 0; overflow: hidden;}
    .foot_wrap{position: relative; width: 100%; height:160px;margin: 0 auto; }


/* header_inner */

.header_wrap{display: none;}

.header_wrap{transition: height 0.3s linear 0s;}
.header_wrap.on{height: 222px;}

.mbn_inner>h1.logo_mega1{position:absolute;
top: -40px;
left: -100px;
transform: scale(0.45);}


nav.gnb{display: none;}

.mbn_inner>div>ul.sns_m1{
position: relative;
float:right;
top:-28px;
right:55px;}

.mbn_inner>div>ul.sns_m1>li{float:left; margin-left: 5px;}
.mbn_inner>div>ul.sns_m1>li>a{
display: block;
border: 2px solid #000;
width: 33px; height: 33px;
padding:3px; 
border-radius: 30px;
text-indent: -9999px; overflow: hidden;
transition: all .5s;}

.mbn_inner>div>ul.sns_m1>li:hover>a{
border-color: transparent;
background-color: rgb(254,208,0) !important; }
        
.mbn_inner>div>ul.sns_m1>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
.mbn_inner>div>ul.sns_m1>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
.mbn_inner>div>ul.sns_m1>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;} 


/* 햄버거 메뉴 */

input[id="icon"] {
    display:none;
} 


input[id="icon"] + label{
    position: relative;
    display:block;
    margin-top:25px;
    left:96%;
    width:23px;
    height:15px;
    cursor:pointer;  
} 

input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:100%;
    height:2px;
    border-radius:30px;
    background:#000;
    transition: all 0.35s;
    z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
    top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  
}

input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
    background-color:#fff;
}

input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
    background-color: #fff;
}

#icon + label + #mbn_header {
    position:fixed;
    width:100%;
    height:100%;
    background:#222;
    top:0px;
    padding:60px 25px 25px 25px;
    box-sizing:border-box;
    right:-1000px;
    z-index:1;
    transition: all 0.35s;
}

#icon:checked + label + #mbn_header {
    right:0px;
}

/* 리스트 */

#arrow_1,#arrow_2,#arrow_3,#arrow_4,#arrow_5,#arrow_1{display: none;}

#mbn_header>h1.logo_mega2{
position: relative;
left:80px;
top:-50px;
transform: scale(0.4);}   

#mbn_header>ul{float:left;
font-size:18px;
margin-top: -10px;
height:200px;
width:100%;
}


#mbn_header>ul>li a{color: #fff;}
#mbn_header>ul>li{height: 100px;
    padding:35px;
    padding-bottom:15px;
    border-bottom:1px solid rgba(255,255,255,0.1);}
#mbn_header>ul>li:nth-of-type(3){height: 40px;
    padding:35px;
    padding-bottom:15px;
    border-bottom:1px solid rgba(255,255,255,0.1);}
#mbn_header>ul>li>ul{
    line-height: 0px;
    margin-left:200px;
    margin-top: -15px;
}
#mbn_header>ul>li>ul>li{
    margin-bottom:30px;
    font-size:14px;
}

#mbn_header>ul>li>ul>li a{
    color:rgb(158, 158, 158);
}

#mbn_header>ul>li>ul>li a:hover{
color:#fff;
text-decoration: underline;}

#content1,#content2{display: none;}

  
/* content3 */


#content3{width:100%;background-color: red;}
video {width: 100%; height: 100%;
transform: scaleY(2.5);
overflow: hidden; }


#content3 {
	position: relative;
	overflow: hidden;
  width: 100%;
	height: 100%; 
}

#content3 img{
  width: 100%; height: 100%;}



/* SLIDER */

#content3 .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

#content3 .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}


#content3 .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

#content3 .prevNext > div+div {
	visibility: hidden;
}

#content3 .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
#content3 .prevNext a:hover {
	opacity: 1;
}
#content3 .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

#content3 .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
#content3 .bullets > a {
	display: inline-block;
	width: 30px;
	height: 15px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
#content3 .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); 
}
#content3 .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}


#content3 >s:target ~ .bullets >* { background: rgba(255, 255, 255, 0.5);}

#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
#s7:target ~ .bullets >*:nth-child(7) {background: rgba(255, 255, 255,   1);}

#content3 >s:target ~ .prevNext >* {visibility: hidden;}

#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}

#content3{
	color: #fff;	
	text-align: center;
}
#content3 .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
#content3 a {
	border-radius: 50px;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
 
/* 스크롤을 내리세요! */

.banner_rolling{z-index:1;
  position:absolute;
  left:50%;transform: translateX(-50%);bottom: 30px;
  text-align: center;}
  .banner_rolling>p{margin-bottom:10px;}
  .banner_rolling>p>a{color:#fff; font-size:16px; line-height: 3;}
  .banner_rolling>span{border:1px solid #fff;
  width:30px;height:30px;}
  
  .banner_rolling>p,.banner_rolling>p span {animation:ani 1s linear 2s infinite alternate;
    transition: bottom 1s linear 0s;}
  
  @keyframes ani{
  0%{transform: translateY(0);opacity: 1;color:#fff;}
  50%{opacity:0.8;color:rgba(0,0,0,0.5)}
  100%{transform: translateY(10px);opacity: 0.6;color:rgba(0,0,0,0.1);}}
  
  .banner_rolling>ul>.dot:active{width:30px; height:8px; background-color: #fff;
  }
      
  /* 마우스 모양  */
    .banner_rolling>p span {
      position: absolute;
      padding-top: 45px;
      top: -50px;
      left: 50%;
      width: 25px;
      height: 10px;
      margin-left: -15px;
      border: 2px solid #fff;
      border-radius: 60px;
      box-sizing: border-box;
      text-indent: -9999px;
    }
    .banner_rolling>p span::before {
      position: absolute;
      top: 10px;
      left: 50%;
      content: '';
      width: 5px;
      height: 7px;
      margin-left: -3px;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: sdb 1s infinite;
      animation: sdb 15s infinite;
      box-sizing: border-box;
    }
    @-webkit-keyframes sdb {
      0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes sdb {
      0% {
        transform: translate(0, 0);
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        transform: translate(0, 20px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

/* content4 */

#content4{font-family: 'Noto Sans KR',sans-serif;
  height:100vh;
}

#content4>section>div{float:left;}

#content4>section>div>h3{font-size: 20px; font-weight: lighter; color: #222;
padding-top: 200px;margin-left:50px;}
#content4>section>div>p{margin-left:50px;}

#content4>section>div>.new_menu{font-family: 'Noto Sans KR',sans-serif;
font-size: 50px; font-weight: bold;
letter-spacing: 0;} 

#content4>section>div>.new_menu>span{background: url(../images/bar_yellow.png) no-repeat 0 0;
width:423px;height:31px;
background-position: 0 40px;}
#content4>section>div>p:nth-of-type(2){padding-top:15px; font-size:20px;}
#content4>section>div>p:nth-of-type(3){padding-top:15px; font-size:14px; color:#222;} 

#content4>section>div>button{cursor: pointer; border: none;}
#content4>section>div>button{
margin:30px 50px;
padding: 10px;
width:148px; height: 53px;
background: rgb(254,208,0);
font-size:18px; font-weight: 600;
color:#222;
text-align: center;
transition: bottom 1s linear 0s;}

#content4>section>div>button:hover{position:relative;
bottom: 5px;
background-color:rgb(255,223,68);}

/* menu_set */

.menu_wrap{width:180%; height:300px;}


.menu_wrap>div
{float:left;
position: relative;
left:29%;
bottom:450px;
width: 421px;
height: 597px;
border:1px solid rgb(230, 230, 230);
border-radius: 20px;
overflow:hidden;}

.menu_wrap>div:nth-child(2),.menu_wrap>div:nth-child(3)
{position: relative;
margin-top: 177px;
margin-left:30px;
width: 421px;
height: 420px;
background-color: #fff;
border:1px solid rgb(230, 230, 230);
border-radius: 20px;
overflow: hidden;
}


.menu_wrap>div>img
{
object-fit: cover;
display: inline-block;
width:100%;
height:420px;
}


.menu_wrap>div>div{
background-color: rgb(244,246,248);
height:200px;}

.menu_wrap>div>div>dl{
font-size:20px;
padding-top:30px;
line-height:2; margin-left:30px;}

.menu_wrap>div>div>dl>dd{
font-size:14px;
color: rgb(170,170,170);} 

/* 이전-다음 */

.banner_arrow{display: none;}

/* //content4 */

/* content5 */

#content5{width:100%;height: 100vh;}

#content5>section{font-family: 'Noto Sans KR',sans-serif;
  background-color: rgb(254,208,0);}

#content5>section>.cost{padding-top:200px;margin-left:50px;}
#content5>section>.cost>h3{
  font-size: 20px; font-weight: lighter; color: #222;}
#content5>section>.cost>.fr_mega{font-size: 50px; 
font-family:'Roboto',sans-serif;
font-weight: 900;}
#content5>section>.cost>p:nth-of-type(2){font-size: 22px; font-weight:bold;line-height: 2;}
#content5>section>.cost>p:nth-of-type(2)>span{font-size: 46px;
  line-height: 1.5;
  font-family:'Roboto',sans-serif;font-weight: 900;}
#content5>section>.cost>p:nth-of-type(3){font-size: 20px; margin-top: 30px;}
#content5>section>.cost>p:nth-of-type(4){font-size: 14px; margin-top:30px;}

#content5>section>.cost>.fr_mega>span{margin-left:-30px;}
#content5>section>.cost>.fr_mega>span{background-color: #fff;
padding-left:25px;
padding-right:20px;}

.video_mega{position:relative;
left: 40%; bottom: 400px;
transform: scale(0.8);}


.video_mega>p{
background-color: #222;
width:498px; height: 50px;
text-align: center;
padding-top: 15px;
margin-top: -5px;
transition: bottom 1s linear 0s;} 
.video_mega>p>a{color: #fff; font-size: 18px;}
.video_mega>p:hover{
position: relative;
background-color:#703614;
bottom:5px;}

/* content6 */

#content6>section>.sub6_l{
float:left;
margin-left: 50px;
background-color: #fff;}
#content6>section>.sub6_l>h3{font-size: 20px; font-weight: lighter; color: #222;
padding-top:250px;}
#content6>section>.sub6_l>.mega_shot{font-size: 50px; 
font-family:'Roboto',sans-serif;
font-weight: 900;}
#content6>section>.sub6_l>p:nth-of-type(2){font-size: 22px;margin-top: 20px}
#content6>section>.sub6_l>p:nth-of-type(3)>span{font-size: 40px;
font-family:'Roboto',sans-serif;font-weight: 900;}
#content6>section>.sub6_l>p:nth-of-type(3){font-size: 14px;
margin-top:20px;}
#content6>section>.sub6_l>button{cursor: pointer;
font-weight: bold;font-size: 18px; margin-top:30px;
border:none;
background-color: rgb(254,208,0);
width:150px; height:60px;
transition: bottom 1s linear 0s;}
#content6>section>.sub6_l>button:nth-of-type(2){margin-left:20px;}
#content6>section>.sub6_l>button:hover{position: relative;
bottom:5px;
background-color: rgb(255,223,68);}

#content6>section>.sub6_r{
position:relative;
float:left;width:300px;height:100vh;
margin-left:50px;}


/* content7 */

#content7>section{
background-color:#fff;}

#content7>section>h3{font-size: 20px; text-align: center;
margin-top:50px;}

#content7>section>h3>span{font-size:50px; 
font-family:'Roboto',sans-serif;font-weight: 900;
background: url(../images/bar_yellow.png) no-repeat  0 0 ;
width:423px;height:41px;
background-position-y: 30px;}

#content7>section>div
{position:relative;
margin-top:50px;
margin-right: 30px;
left: 25px;
display: inline-block;
width: 290px;
height: 450px;
border:1px solid rgb(230,230,230);
background-color: #fff;
border-radius: 20px;
overflow: hidden;
cursor: pointer;
}

#content7>section>div>div
{
width: 290px;
height: 300px;
background-color: #fff;
overflow: hidden;
cursor: pointer;

}
#content7>section>div>div>a img
{object-fit: cover;
width:100%;
height:340px;
transition: all 0.1s linear;}

#content7>section>div:hover>div>a img
{transform: scale(1.1);}

#content7>section>div>dl{margin-left:30px;overflow: hidden;}
#content7>section>div>dl>dt{font-size:16px;line-height:3.5;}
#content7>section>div>dl>dd{color: #888;font-size:14px;}
#content7>section>div>dl>dd:last-of-type{line-height: 4; color: #777;}

#content7>section>p{text-align: center;margin-top:50px;
font-size:14px;}

#content7>section>button{position:relative;
left:42%;
font-weight: bold;font-size: 18px; 
margin-top:20px;
margin-bottom:100px;
border:none;
background-color: rgb(254,208,0);
width:160px; height:50px;
cursor: pointer;
transition: bottom 1s linear 0s;}

#content7>section>button:hover{
bottom: 5px;
background-color:rgb(255,223,68);}

/* footer */

.footer_inner>.foot_menu{
  background-color: rgb(254,208,0); 
  width:100%;height:60px;}
                  
  .footer_inner>.foot_menu>ul>li{display: inline-block;
  position: relative;
  top:5px;
  font-size:14px;
  font-weight: bold;   
  line-height: 3.5;
  padding-left:30px;}
              
  .footer_inner>.foot_menu>ul>li:hover{
  text-decoration: underline;}
                  
          
  .foot_wrap{font-family: 'Noto Sans KR',sans-serif;}
  
  .foot_wrap>.foot_img>h3{
  float:left;
  transform: scale(0.4);
  margin-left:150px;}
                  
                  
  .foot_wrap>.foot_img>ul>li{float:left;}
                  
  .foot_wrap>.foot_img>ul>li>a{
  display: block;
  position:relative;
  right:100px;top:35px;border: none;
  background-color: #fff !important;
  width: 33px; height: 33px;
  transform: scale(0.8);
  padding:3px; 
  border-radius: 30px;
  text-indent: -9999px; overflow: hidden;}
                      
  .foot_wrap>.foot_img>ul>li>a:hover{
  background-color: rgb(254,208,0) !important;}
          
          
  .foot_wrap>address{float:left;
  width:800px; height:60px;
  margin-left:200px;}
      
  .foot_wrap>address>span{float:left;
  position:relative;padding-right: 10px; margin-right: 5px;
  line-height: 2;
  font-size:12.5px; color:#999;}
      
  .foot_wrap>address>span:first-of-type{font-weight: bold; color:#fff;}
  .foot_wrap>address>span:nth-of-type(6),.foot_wrap>address>span:nth-of-type(7)
  {margin-left: 30px;}             
                  
  .foot_wrap>.foot_img>ul>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;}
                  
  .foot_wrap>.foot_list{display: none;}        
}

@media screen and (min-width:1025px){
  
.slider>.video{width: 100%; height: 100%;}

/* header_inner */

.mbn_wrap{display: none;}
/* header_inner */

.mbn_wrap{display: none;}

.header_wrap{transition: height 0.3s linear 0s;}
.header_wrap.on{height: 222px;}

h1.logo_mega{position:absolute;
transform: scale(0.45);}

.header_inner>nav.gnb>ul:hover>li>ul>li:first-of-type{padding-top:50px;}


nav.gnb{display: flex; justify-content: flex-end;
text-align: center;}

nav.gnb>ul{position:relative;
right:200px;}

nav.gnb>ul>li{
position:relative;
display:inline-block; 
width:135px;
padding:30px 0;
line-height: 20px;}
 
 
nav.gnb>ul>li>a{display:inline-block;
margin-top:10px;
font-weight: 600;
font-size: 18px;
color:#000;}

nav.gnb>ul>li>a:after{content:"";position: absolute;
left:50%;bottom:-10px;
transform: translateX(-50%);
width: 0;height: 0;opacity: 0;background: #000;transition: width .4s ease-in-out 0s;}
nav.gnb>ul>li:hover>a:after{width:70px;height: 1px;opacity: 1;z-index:1;}
 
 
nav.gnb>ul>li:hover,nav.gnb>ul>li:hover>ul{
background-color: rgb(254,208,0); }

nav.gnb>ul>li>ul{width:135px; height:160px;
position:absolute;font-size:12px; line-height: 30px;
display: none;
transition: height 0.3s linear 0s;}
nav.gnb>ul>li>ul.on{display:block;}
nav.gnb>ul>li>ul>li{font-size:14.5px;}

nav.gnb>ul>li>ul>li>a:hover{text-decoration: underline;}



.header_inner>div>ul.sns_m{position: relative;
float:right;
right:20px;
bottom:60px;}

.header_inner>div>ul.sns_m>li{float:left; margin-left: 5px;}
.header_inner>div>ul.sns_m>li>a{
display: block;
border: 2px solid #000;
width: 33px; height: 33px;
padding:3px; 
border-radius: 30px;
text-indent: -9999px; overflow: hidden;
transition: all .5s;}

.header_inner>div>ul.sns_m>li:hover>a{
border-color: transparent;
background-color: rgb(254,208,0) !important; }
        
.header_inner>div>ul.sns_m>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
.header_inner>div>ul.sns_m>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
.header_inner>div>ul.sns_m>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;} 

 


/* container */

#container{z-index:30;position:relative;}

#container > div > section{position:relative;width:100%;height:100%;overflow: hidden;}
#container > div > section > span{display:block;text-align:left;}

/* content1 */

#content1>section>ul{position:absolute;}

#content1>section>ul>.menu_sub{
cursor: pointer;
font-size: 16px; 
line-height: 30px; margin: 10px;
font-family: 'Roboto',sans-serif; font-weight: bold;
}

.menu_sub:after{content:"";position: absolute;
    left:10px; padding:1px;
    margin:11px;
    transform: translateX(-50%);
    width: 0;height: 0;opacity: 0;background: #000;transition: width .3s ease-in 0s;}
.menu_sub:hover:after{width:30px;height: 2px;opacity: 1;z-index:1;}
.menu_sub:hover>a{margin-left:30px;color:#000;}
.menu_1{color: rgb(170,170,170);}
.click{color: #000;}

/* content2 */
#content2>section{cursor: pointer;}
#content2>section>ul{line-height: 20px; margin:25px;}
#content2>section>ul>li{width:105px; height:105px;
text-align: center;
margin-bottom:20px;
padding-top: 20px;
border-radius: 60px;
box-sizing: border-box;
background-color: #282828;
box-shadow: 0 10px 10px rgba(0,0,0,0.3);}
#content2>section>ul>li:nth-child(2){padding-top: 30px;}
#content2>section>ul>li:hover{background-color:  rgb(254,208,0);}
#content2>section>ul>li:hover>a{color: #000;}

#content2>section>ul>li a{color:#fff; font-size:15px;}
#content2>section>ul>li span{font-family:'Noto Sans',sans-serif;
font-size:20px; font-weight: bold;}


/* content3 */

#content3 {
	position: relative;
	overflow: hidden;
  width: 100%;
	height: 100%; 
}

#content3 video{
  object-fit: cover;
}

#content3 img{
  width: 100%; height: 100%;
  object-fit: cover;}
/* SLIDER */

#content3 .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

#content3 .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}


#content3 .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

#content3 .prevNext > div+div {
	visibility: hidden;
}

#content3 .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
#content3 .prevNext a:hover {
	opacity: 1;
}
#content3 .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

#content3 .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
#content3 .bullets > a {
	display: inline-block;
	width: 30px;
	height: 15px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
#content3 .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); 
}
#content3 .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}


#content3 >s:target ~ .bullets >* { background: rgba(255, 255, 255, 0.5);}

#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}

#content3 >s:target ~ .prevNext >* {visibility: hidden;}

#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}


#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}


#content3{
	color: #fff;	
	text-align: center;
}
#content3 .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
#content3 a {
	border-radius: 50px;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
 
/* 스크롤을 내리세요! */

.banner_rolling{z-index:1;
  position:absolute;
  left:50%;transform: translateX(-50%);bottom: 30px;
  text-align: center;}
  .banner_rolling>p{margin-bottom:10px;}
  .banner_rolling>p>a{color:#fff; font-size:16px; line-height: 3;}
  .banner_rolling>span{border:1px solid #fff;
  width:30px;height:30px;}
  
  .banner_rolling>p,.banner_rolling>p span {animation:ani 1s linear 2s infinite alternate;
    transition: bottom 1s linear 0s;}
  
  @keyframes ani{
  0%{transform: translateY(0);opacity: 1;color:#fff;}
  50%{opacity:0.8;color:rgba(0,0,0,0.5)}
  100%{transform: translateY(10px);opacity: 0.6;color:rgba(0,0,0,0.1);}}
  
  .banner_rolling>ul>.dot:active{width:30px; height:8px; background-color: #fff;
  }
      
  /* 마우스 모양  */
    .banner_rolling>p span {
      position: absolute;
      padding-top: 45px;
      top: -50px;
      left: 50%;
      width: 25px;
      height: 10px;
      margin-left: -15px;
      border: 2px solid #fff;
      border-radius: 60px;
      box-sizing: border-box;
      text-indent: -9999px;
    }
    .banner_rolling>p span::before {
      position: absolute;
      top: 10px;
      left: 50%;
      content: '';
      width: 5px;
      height: 7px;
      margin-left: -3px;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: sdb 1s infinite;
      animation: sdb 15s infinite;
      box-sizing: border-box;
    }
    @-webkit-keyframes sdb {
      0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes sdb {
      0% {
        transform: translate(0, 0);
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        transform: translate(0, 20px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  

/* content4 */

#content4{font-family: 'Noto Sans KR',sans-serif;
    height:100vh;
}

#content4>section>div{float:left;}
#content4>section>div>h3{font-size: 22px; font-weight: lighter; color: #222;
padding-top: 250px;margin-left:390px; 
}


#content4>section>div>p{margin-left:390px;}

#content4>section>.menu_animation{
opacity:0;
margin-bottom:1000px;   
max-width:100%
}

#content4>section>div>.new_menu{font-family: 'Noto Sans KR',sans-serif;
font-size: 58px; font-weight: bold;
letter-spacing: 0;}

#content4>section>div>.new_menu>span{background: url(../images/bar_yellow.png) no-repeat 0 0;
width:423px;height:31px;
background-position: 0 40px;}

#content4>section>div>p:nth-of-type(2){padding-top:15px; font-size:24px;}
#content4>section>div>p:nth-of-type(3){padding-top:15px; font-size:16px; color:#222;} 

#content4>section>div>button{cursor: pointer; border: none;}
#content4>section>div>button{
margin:30px 380px;
padding: 10px;
width:148px; height: 53px;
background: rgb(254,208,0);
font-size:18px; font-weight: 600;
color:#222;
text-align: center;
transition: bottom 1s linear 0s;}

#content4>section>div>button:hover{position:relative;
bottom: 5px;
background-color:rgb(255,223,68);}

/* menu_set */

.menu_wrap{position: relative; width:180%;}


.menu_wrap>div
{float:left;
position: relative;
left:29%;
bottom:450px;
width: 421px;
height: 597px;
border:1px solid rgb(230, 230, 230);
border-radius: 20px;
overflow:hidden;}

.menu_wrap>div.on{
  float:left;
  position: relative;
  left:29%;
  bottom:450px;
  width: 421px;
  height: 597px;
  border:1px solid rgb(230, 230, 230);
  border-radius: 20px;
  overflow:hidden;

}
.menu_wrap>div:nth-child(2),.menu_wrap>div:nth-child(3)
{position: relative;
margin-top: 177px;
margin-left:30px;
width: 421px;
height: 420px;
background-color: #fff;
border:1px solid rgb(230, 230, 230);
border-radius: 20px;
overflow: hidden;
}


.menu_wrap>div>img
{
object-fit: cover;
display: inline-block;
width:100%;
height:420px;
}


.menu_wrap>div>div{
background-color: rgb(244,246,248);
height:200px;}

.menu_wrap>div>div>dl{
font-size:20px;
padding-top:30px;
line-height:2; margin-left:30px;}

.menu_wrap>div>div>dl>dd{
font-size:14px;
color: rgb(170,170,170);} 

/* 이전-다음 */

.banner_arrow{position: absolute;
top: 350px;
right:360px;}

.banner_arrow>.btn_prev,.banner_arrow>.btn_next{
float:left;
width:32px; height:60px;
margin-left:30px;
text-indent: -9999px; overflow: hidden;}
    
.banner_arrow>.btn_prev{background: url(../images/btn_banner_black.png) no-repeat 0 0;
filter: brightness(1);}

.banner_arrow>.btn_next{
background: url(../images/btn_banner_black.png) no-repeat 0 0;
transform: scaleX(-1);
filter: brightness(1);}
    
.banner_arrow>.btn_prev:hover,.banner_arrow>.btn_next:hover
{filter: brightness(10%);} 

/* //content4 */

/* content5 */

#content5>section{font-family: 'Noto Sans KR',sans-serif;
    background-color: rgb(254,208,0);}
 
#content5>section>.cost{padding-top:250px;margin-left:390px;
  opacity: 0;}

#content5>section>.cost>h3{
    font-size: 24px; font-weight: lighter; color: #222;}
#content5>section>.cost>.fr_mega{font-size: 58px; 
font-family:'Roboto',sans-serif;
font-weight: 900;}
#content5>section>.cost>p:nth-of-type(2){font-size: 24px; font-weight:bold;line-height: 2;}
#content5>section>.cost>p:nth-of-type(2)>span{font-size: 46px;
    line-height: 1.5;
    font-family:'Roboto',sans-serif;font-weight: 900;}
#content5>section>.cost>p:nth-of-type(3){font-size: 22px; margin-top: 30px;}
#content5>section>.cost>p:nth-of-type(4){font-size: 16px; margin-top:30px;}

#content5>section>.cost>.fr_mega>span{margin-left:-30px;}
#content5>section>.cost>.fr_mega>span{background-color: #fff;
padding-left:25px;
padding-right:20px;}

.video_mega{position:relative;
left: 50%; bottom: 500px;}
.video_mega>p{
background-color: #222;
width:498px; height: 50px;
text-align: center;
padding-top: 15px;
margin-top: -5px;
transition: bottom 1s linear 0s;} 
.video_mega>p>a{color: #fff; font-size: 18px;}
.video_mega>p:hover{
position: relative;
background-color:#703614;
bottom:5px;}

/* content6 */

#content6>section>.sub6_l{
float:left;
margin-left: 390px;
background-color: #fff;
animation: con4 ease 2.5s;
opacity: 0;
margin-bottom: 1000px;}

#content6>section>.sub6_l>h3{font-size: 24px; font-weight: lighter; color: #222;
padding-top:250px;}
#content6>section>.sub6_l>.mega_shot{font-size: 58px; 
font-family:'Roboto',sans-serif;
font-weight: 900;}
#content6>section>.sub6_l>p:nth-of-type(2){font-size: 24px;margin-top: 20px}
#content6>section>.sub6_l>p:nth-of-type(3)>span{font-size: 46px;
font-family:'Roboto',sans-serif;font-weight: 900;}
#content6>section>.sub6_l>p:nth-of-type(3){font-size: 16px;
margin-top:20px;}
#content6>section>.sub6_l>button{cursor: pointer;
font-weight: bold;font-size: 18px; margin-top:30px;
border:none;
background-color: rgb(254,208,0);
width:150px; height:60px;
transition: bottom 1s linear 0s;}
#content6>section>.sub6_l>button:nth-of-type(2){margin-left:50px;}
#content6>section>.sub6_l>button:hover{position: relative;
bottom:5px;
background-color: rgb(255,223,68);}

#content6>section>.sub6_r{
position:relative;
float:left;width:600px;height:100vh;
margin-left:190px;}


/* content7 */

#content7>section{
background-color:#fff;}

#content7>section>h3{font-size: 30px; text-align: center;
margin-top:50px;
}

#content7>section>h3>span{font-size:58px; 
font-family:'Roboto',sans-serif;font-weight: 900;
background: url(../images/bar_yellow.png) no-repeat  0 0 ;
width:423px;height:41px;
background-position-y: 30px;}

#content7>section>div
{position:relative;
margin-top:50px;
margin-right: 30px;
left: 400px;
display: inline-block;
width: 350px;
height: 518px;
border:1px solid rgb(230,230,230);
background-color: #fff;
border-radius: 20px;
overflow: hidden;
cursor: pointer;
}

#content7>section>div>div
{
width: 350px;
height: 340px;
background-color: #fff;
overflow: hidden;
cursor: pointer;

}
#content7>section>div>div>a img
{object-fit: cover;
width:100%;
height:340px;
transition: all 0.1s linear;}

#content7>section>div:hover>div>a img
{transform: scale(1.1);}

#content7>section>div>dl{margin-left:30px;overflow: hidden;}
#content7>section>div>dl>dt{font-size:24px;line-height:3.5;}
#content7>section>div>dl>dd{color: #888;}
#content7>section>div>dl>dd:last-of-type{line-height: 4; color: #777}

#content7>section>p{text-align: center;margin-top:50px;
font-size:16px;}

#content7>section>button{position:relative;
left:46%;
font-weight: bold;font-size: 18px; 
margin-top:20px;
margin-bottom:100px;
border:none;
background-color: rgb(254,208,0);
width:160px; height:50px;
cursor: pointer;
transition: bottom 1s linear 0s;}

#content7>section>button:hover{
bottom: 5px;
background-color:rgb(255,223,68);}


/* footer */

.footer_inner>.foot_menu{
background-color: rgb(254,208,0); 
width:100%;height:60px;}
            
.footer_inner>.foot_menu>ul>li{display: inline-block;
position: relative;
right:29%;
font-size:16px;
font-weight: bold;   
line-height: 3.5;
padding-left:30px;}
            
.footer_inner>.foot_menu>ul>li:hover{
text-decoration: underline;}
            
    
.foot_wrap{font-family: 'Noto Sans KR',sans-serif;}
.foot_wrap>.foot_img>h3{
float:left;
transform: scale(0.45);
margin-top:30px;
margin-left:-72px;}
            
            
.foot_wrap>.foot_img>ul>li{float:left;}
            
.foot_wrap>.foot_img>ul>li>a{
display: block;
position:relative;
right:120px;top:60px;border: none;
background-color: #fff !important;
width: 33px; height: 33px;
transform: scale(0.8);
padding:3px; 
border-radius: 30px;
text-indent: -9999px; overflow: hidden;}
                
.foot_wrap>.foot_img>ul>li>a:hover{
background-color: rgb(254,208,0) !important;}
    
    
.foot_wrap>address{
width: 540px; margin-left:60px;
margin-top:130px;}

.foot_wrap>address>span{float:left;
position:relative;padding-right: 10px; margin-right: 5px;
line-height: 2;
font-size:14px; color:#888;}

.foot_wrap>address>span:first-of-type{font-weight: bold; color:#fff;}
            
            
.foot_wrap>.foot_img>ul>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
.foot_wrap>.foot_img>ul>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
.foot_wrap>.foot_img>ul>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;}
            
            
            
.foot_wrap>.foot_list>ul{width:100%;
text-align: left;}
            
.foot_wrap>.foot_list>ul>span{color:#fff; }
            
.foot_wrap>.foot_list>ul>li{
position:relative;
left:150px; bottom:100px;
display:inline-block; width:135px;
font-weight: normal;font-size: 18px;
color:#fff;}
            
.foot_wrap>.foot_list>ul>li a{
color:#888; font-size: 14px;
line-height: 2;}

.foot_wrap>.foot_list>ul>li a:hover{text-decoration: underline; color:#fff;}
        
.foot_wrap>.foot_list>ul>li>ul{position: absolute;margin-top:10px;}
.foot_wrap>.foot_list>ul>li>ul>li a{margin-top: 10px;}
}