@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{font-size: 14px; font-family:'Noto Sans KR',sans-serif;
  letter-spacing: -1px;}
body::-webkit-scrollbar{width: 5px;}
body::-webkit-scrollbar-thumb{background-color: rgb(254,208,0);}
a{text-decoration: none; color: #000;}

#wrap{width: 100%;}
#header{z-index:50; position: fixed; width: 100%;}
    .header_wrap{position: fixed; left: 0; width: 100%; height:100px; background: #222;
        background: url(../images/bg_header.png) repeat-x 0 0;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
        .header_inner{position:relative;width: 1340px;margin: 0 auto;}
#container{width: 100%; }
    #content1{z-index:40;position:fixed;left:20px;bottom:5%;
        width: 130px; height:200px;}
    #content2{z-index:40;position:fixed; right: 5px; bottom: 140px;width:153px;
     border: 1px solid orange;}
    #content3,#conent4,#content5,#content6,#content7{height:100vh;border:1px solid rgba(255,255,255,0);
    overflow: hidden;}
#footer{ width: 100%; height: 330px; background: #222; color: #777;
    text-align: center; letter-spacing: 0;}
      .foot_wrap{ width: 1393px; margin: 0 auto; }

@media screen and (max-width:768px){

  #wrap{width: 100%; overflow: hidden;}
  #header{z-index:50; position: fixed; width: 100%;}
  .mbn_wrap{position: absolute; left: 0; width: 100%; background: #fff;
  height:60px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
  .mbn_inner{position:relative;width: 100%;margin: 0 auto;}
  #container{width: 100%; }
  #footer{position: relative; width: 100%; height: 330px; background: #222; color: #777;
  text-align: center; letter-spacing: 0; overflow: hidden;}
  .foot_wrap{position: relative; width: 100%; height:268px; margin: 0 auto;
  border: 1px solid rgba(0,0,0,0); overflow: hidden;}
  
     
  /* header_inner */
  
  .header_wrap{display: none;}
  
  .mbn_inner>h1.logo_mega1{
  position:absolute;
  left:-140px;
  top:-45px;
  transform: scale(0.35);
  }
  
  .sns_m1{display: none;}
  
  div.mobBtn{z-index: 100; display: block; position: absolute; top: 20px; right: 10px;}
  
  .mbn_gnb{display: none;}
  .mobBtn_close{display: none;}
  
  .gnb{display: none;}
  .sns_m{display: none;}
  
  /* 햄버거버튼 */
  input[id="icon"] {
      display:none;
  } 
  
  
  input[id="icon"] + label{
      position: relative;
      display:block;
      margin-top:25px;
      left:95%;
      width:20px;
      height:15px;
      cursor:pointer;  
  } 
  
  input[id="icon"] + label > span {
      position: absolute;
      display:block;
      width:100%;
      height:2px;
      border-radius:30px;
      background:#000;
      transition: all 0.35s;
      z-index:2;
  
  }
  
  input[id="icon"] + label > span:nth-child(1) {
      top:0px;
  }
  
  input[id="icon"] + label > span:nth-child(2) {
      top:50%;
      transform: translateY(-50%);  
  }
  
  input[id="icon"] + label > span:nth-child(3) {
      bottom:0px;
  }
  
  
  input[id="icon"]:checked + label > span:nth-child(1) {
      top:50%;
      transform:translateY(-50%) rotate(45deg);
      background-color:#fff;
  }
  
  input[id="icon"]:checked + label > span:nth-child(2) {
      opacity: 0;
  }
  
  input[id="icon"]:checked + label > span:nth-child(3) {
      bottom:50%;
      transform:translateY(50%) rotate(-45deg);
      background-color: #fff;
  }
  
  #icon + label + #mbn_header {
      position:fixed;  
      width:250px;
      height:100%;
      background:#222;
      top:0px;
      padding:60px 25px 25px 25px;
      box-sizing:border-box;
      right:-500px;
      z-index:1;
      transition: all 0.35s;
  }
  
  #icon:checked + label + #mbn_header {
      right:0px;
  }
  
  #icon:checked + label + #mbn_header > ul > li > a {
      color: white;}
  
  /* 리스트 */
  
  #mbn_header>h1.logo_mega2{
    position: relative;
    left:-50px;
    top:-20px;
    transform: scale(0.4);}   
    
    #mbn_header>ul{font-size:14.5px;
    width:500px;
    margin-left: 10px;
    margin-top: -20px;
    line-height: 50px;}
    
    #mbn_header>ul>li a{color: #fff;}
    
    #mbn_header>ul>li>ul{display: none;}
    
    #mbn_header>ul>li>ul{line-height: 1.5;}
    #mbn_header>ul>li>ul>li a{
    margin-left:20px;
    font-size:12px;color:#888;}
    
    #mbn_header>ul>li>ul>li a:hover{
    color:#fff;
    text-decoration: underline;
    }
    /* 화살표 */
    
    input[id="arrow_1"],input[id="arrow_2"],input[id="arrow_3"],input[id="arrow_4"],input[id="arrow_5"] {
        display:none;
    } 
    
    input[id="arrow_1"]+ label,
    input[id="arrow_2"]+ label,
    input[id="arrow_3"]+ label,
    input[id="arrow_4"]+ label,
    input[id="arrow_5"] + label{
        position: relative;
        display:block;
        right: 30px;
        top: -53px;
        width: 9px;
        height:14px;
        cursor:pointer;
        transform: scale(1.2);
    } 
    
    input[id="arrow_1"]+ label > span,
    input[id="arrow_2"]+ label > span,
    input[id="arrow_3"]+ label > span,
    input[id="arrow_4"]+ label > span,
    input[id="arrow_5"] + label > span {
        position: absolute;
        display:block;
        width:100%;
        height:1px;
        border-radius:30px;
        background:#ccc;
        z-index:2;
    
    }
    
    input[id="arrow_1"]+ label > span:nth-child(1),
    input[id="arrow_2"]+ label > span:nth-child(1),
    input[id="arrow_3"]+ label > span:nth-child(1),
    input[id="arrow_4"]+ label > span:nth-child(1),
    input[id="arrow_5"] + label > span:nth-child(1) {
        top:22px;
        left:175px;
        transform:rotate(50deg);
    }
    
    input[id="arrow_1"]+ label > span:nth-child(2),
    input[id="arrow_2"]+ label > span:nth-child(2),
    input[id="arrow_3"]+ label > span:nth-child(2),
    input[id="arrow_4"]+ label > span:nth-child(2),
    input[id="arrow_5"] + label > span:nth-child(2) {
        top:28.5px;
        left:175px;
        transform: rotate(-50deg);  
    }
    
    
    
    input[id="arrow_1"]:checked+ label > span:nth-child(1),
    input[id="arrow_2"]:checked+ label > span:nth-child(1),
    input[id="arrow_3"]:checked+ label > span:nth-child(1),
    input[id="arrow_4"]:checked+ label > span:nth-child(1),
    input[id="arrow_5"]:checked + label > span:nth-child(1) {
    
        transform: rotate(-50deg);
        top:25px;
        left:180.5px;
        
    }
    
    input[id="arrow_1"]:checked+ label > span:nth-child(2),
    input[id="arrow_2"]:checked+ label > span:nth-child(2),
    input[id="arrow_3"]:checked+ label > span:nth-child(2),
    input[id="arrow_4"]:checked+ label > span:nth-child(2),
    input[id="arrow_5"]:checked + label > span:nth-child(2) {
        top:25px;
        transform: rotate(50deg);
      }
    
    #arrow_1:checked+ label+ ul,
    #arrow_2:checked+ label+ ul,
    #arrow_3:checked+ label+ ul,
    #arrow_4:checked+ label+ ul,
    #arrow_5:checked + label + ul
    {display: block;}
  
  #content1,#content2{display: none;}
/* content1 */
#container>.content1{
  background-color: rgb(68,68,68);
  width: 100%; height:10px;
  padding-top:140px;
  padding-bottom:150px;}
  
  .content1>p{font-family: 'Roboto',sans-serif;
  color:#fff; font-size:16px;text-align: center;}
  .content1>p span{color:rgb(254,208,0);font-size: 34px;font-weight: bold;}
  
  .content1>p:nth-child(2){font-size: 12px; line-height: 5;}
  
  .content2{width: 550px;
  text-align: center; margin:0 auto;}

/* content2 */

.content2>h3{text-align: center;
margin-top:50px;
font-family: 'Noto Sans KR',sans-serif;
font-size:30px;
font-weight: bold;
letter-spacing: 0;}

.content2>p{text-align: center;
margin-top:20px;
margin-bottom: 40px;
letter-spacing: 0px;
color:#1c1c1b;
font-size:12px;}


.content2>ul>li{display:inline-block;
background-color: #e9ecef;
cursor: pointer;
border: 1px solid #dee2e6;
width:48px;height:20px;
margin-right: -5px;
padding:15px;
}



.content2>ul>li:first-of-type{
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    }
    

.content2>ul>li a{font-size: 11.5px;
color:#1c1c1b;}

.content2>ul>li a:action{background-color: #fff;}

.content2>.search
{width:550px; margin:30px 0px;}

.content2>.search select,.content2>.search input
{border:1px solid #dee2e6;;
border-radius: 5px;
height:40px;
padding-left:10px;
font-weight: bold;}

.content2>.search select{
width:200px;
color:#1c1c1b;
}

.content2>.search input{
width:330px;
height:37px;
}

.content2>.search button{
background-color: rgb(254,208,0);
border:none;
width:545px;
height:37px;
vertical-align: -1px;
font-weight: bold;
font-size:14px;
margin-top:10px;
}

.content2>.search button:hover{
cursor: pointer;
background-color: rgb(255,223,68);
}

.content2>.search select:focus
{outline-color: rgb(26, 117, 188);}

.content2>.search input[type="text"]:focus
{outline-color: rgb(26, 117, 188);}

/* table */

.FAQ{width:550px; 
font-size:13px;
line-height: 3.5;}

.FAQ>thead>tr>th{
border-top: 2px double #d3d3d3;
border-bottom:1px solid #999;
text-align: center;
font-weight: bold;
color:#1c1c1b;}

.FAQ>tbody>tr>td{
border-bottom: 1px solid #ccc;
}

.FAQ>tbody>tr>td:nth-child(2):hover{text-decoration: underline;}

.FAQ>thead,.FAQ>tbody{color:#666;}

.FAQ>thead>tr>th:first-of-type{width:30px;}

.FAQ>tbody>tr>td:nth-of-type(2){text-align: left;
padding-left: 30px;}

.table_number>ul{margin-bottom:156px;}

.table_number>ul>li{display:inline-block;
background-color: #fff;
border: 1px solid #d3d3d3;
width:25px;height:10px;
margin-right: -5px;
margin-top: 20px;
padding:10px;
font-size:10px}

.table_number>ul>li:nth-child(2){
    background-color: rgb(254,208,0);
}

.table_number>ul>.t_num{
width:10px;
}

.table_number>ul>li:on{background-color: rgb(254,208,0);}


/* footer */
    
    
.footer_inner>.foot_menu{
  background-color: rgb(254,208,0); 
  width:100%;height:40px;}
  
  .footer_inner>.foot_menu>ul>li{display: inline-block;
  margin:20px 20px; margin-top:10px; text-align: center;
  font-size:12px; font-weight: bold;}
  
  .footer_inner>.foot_menu>ul>li:hover{
  text-decoration: underline;}
              
              
  .foot_wrap>.foot_img>h3{
  position:absolute;
  left:60px;
  transform: scale(0.4);
  }
      
  .foot_wrap>.foot_img>ul>li{float:left;
  position:relative;}
              
  .foot_wrap>.foot_img>ul>li>a{
  display: block;
  position:relative;
  left:240px;top:80px;
  border: none;
  background-color: #fff !important;
  width: 33px; height: 33px;
  transform: scale(0.8);
  padding:3px; 
  border-radius: 30px;
  text-indent: -9999px; overflow: hidden;}
                  
  .foot_wrap>.foot_img>ul>li>a:hover{
  background-color: rgb(254,208,0) !important;}
              
  .foot_wrap>address{clear:both;width: 550px; margin-left:40px;
  margin-top:130px;}
  .foot_wrap>address>span{
  position:relative;padding-right: 10px;
  line-height: 2; text-align: center;
  font-size: 10.5px; color:#888;}
  .foot_wrap>address>span:first-of-type{font-weight: bold; color:#fff;}
  .foot_wrap>address>span:nth-of-type(6),.foot_wrap>address>span:nth-of-type(7)
{margin-left: 30px;}             
                           
              
  .foot_wrap>.foot_img>ul>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;}
              
  .foot_wrap>.foot_list{display: none;}  
}

@media screen and (min-width:769px) and (max-width:1025px){
  #wrap{width: 100%; overflow: hidden;}
    #header{z-index:50; position: fixed; width: 100%;}
    .mbn_wrap{position: absolute; left: 0; width: 100%; background: #fff;
    height:70px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);}
    .mbn_inner{position:relative;width: 100%;margin: 0 auto;}
    #container{width: 100%; }
    #footer{position: relative; width: 100%; height: 230px; background: #222; color: #777;
    text-align: center; letter-spacing: 0; overflow: hidden;}
    .foot_wrap{position: relative; width: 100%; height:160px;margin: 0 auto; }

/* header_inner */

.header_wrap{display: none;}

.header_wrap{transition: height 0.3s linear 0s;}
.header_wrap.on{height: 222px;}

.mbn_inner>h1.logo_mega1{position:absolute;
top: -40px;
left: -100px;
transform: scale(0.45);}



nav.gnb{display: none;}

.mbn_inner>div>ul.sns_m1{
position: relative;
float:right;
top:-28px;
right:55px;}

.mbn_inner>div>ul.sns_m1>li{float:left; margin-left: 5px;}
.mbn_inner>div>ul.sns_m1>li>a{
display: block;
border: 2px solid #000;
width: 33px; height: 33px;
padding:3px; 
border-radius: 30px;
text-indent: -9999px; overflow: hidden;
transition: all .5s;}

.mbn_inner>div>ul.sns_m1>li:hover>a{
border-color: transparent;
background-color: rgb(254,208,0) !important; }
        
.mbn_inner>div>ul.sns_m1>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
.mbn_inner>div>ul.sns_m1>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
.mbn_inner>div>ul.sns_m1>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;} 


/* 햄버거 메뉴 */

input[id="icon"] {
    display:none;
} 


input[id="icon"] + label{
    position: relative;
    display:block;
    margin-top:25px;
    left:96%;
    width:23px;
    height:15px;
    cursor:pointer;  
} 

input[id="icon"] + label > span {
    position: absolute;
    display:block;
    width:100%;
    height:2px;
    border-radius:30px;
    background:#000;
    transition: all 0.35s;
    z-index:2;

}

input[id="icon"] + label > span:nth-child(1) {
    top:0px;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform: translateY(-50%);  
}

input[id="icon"] + label > span:nth-child(3) {
    bottom:0px;
}


input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
    background-color:#fff;
}

input[id="icon"]:checked + label > span:nth-child(2) {
    opacity: 0;
}

input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
    background-color: #fff;
}

#icon + label + #mbn_header {
    position:fixed;
    width:100%;
    height:100%;
    background:#222;
    top:0px;
    padding:60px 25px 25px 25px;
    box-sizing:border-box;
    right:-1000px;
    z-index:1;
    transition: all 0.35s;
}

#icon:checked + label + #mbn_header {
    right:0px;
}

/* 리스트 */

#arrow_1,#arrow_2,#arrow_3,#arrow_4,#arrow_5,#arrow_1{display: none;}

#mbn_header>h1.logo_mega2{
position: relative;
left:80px;
top:-50px;
transform: scale(0.4);}   

#mbn_header>ul{float:left;
font-size:18px;
margin-top: -10px;
height:200px;
width:100%;
}


#mbn_header>ul>li a{color: #fff;}
#mbn_header>ul>li{height: 100px;
    padding:35px;
    padding-bottom:15px;
    border-bottom:1px solid rgba(255,255,255,0.1);}
#mbn_header>ul>li:nth-of-type(3){height: 40px;
    padding:35px;
    padding-bottom:15px;
    border-bottom:1px solid rgba(255,255,255,0.1);}
#mbn_header>ul>li>ul{
    line-height: 0px;
    margin-left:200px;
    margin-top: -15px;
}
#mbn_header>ul>li>ul>li{
    margin-bottom:30px;
    font-size:14px;
}

#mbn_header>ul>li>ul>li a{
    color:rgb(158, 158, 158);
}

#mbn_header>ul>li>ul>li a:hover{
color:#fff;
text-decoration: underline;}

#content1,#content2{display: none;}


/* content1 */
#container>.content1{
  background-color: rgb(68,68,68);
  padding-top:100px;
  padding-bottom:50px;}
  .content1>p{font-family: 'Roboto',sans-serif;
  color:#fff; font-size:20px;text-align: center;
  padding-top:40px;}
  .content1>p span{color:rgb(254,208,0);font-size: 48px;font-weight: bold;}
  .content1>p:nth-child(2){font-size: 14px;}
.content2{width:850px;
text-align: center; margin:0 auto;}

/* content2 */

.content2>h3{text-align: center;
margin-top:50px;
font-family: 'Noto Sans KR',sans-serif;
font-size:36px;
font-weight: 900;
letter-spacing: 0;}

.content2>p{text-align: center;
margin-top:40px;
margin-bottom: 40px;
color:#1c1c1b;
font-size:14px;}


.content2>ul>li{display:inline-block;
background-color: #e9ecef;
cursor: pointer;
font-size: 14px;
border: 1px solid #dee2e6;
width:90px;height:20px;
margin-right: -5px;
padding:15px;
}

.content2>ul>li:first-of-type{
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    }

.content2>ul>li a{font-size: 14px;
color:#1c1c1b;}

.content2>ul>li a:action{background-color: #fff;}

.content2>.search
{width:400px; margin:30px 5px;}

.content2>.search select,.content2>.search input
{border:1px solid #dee2e6;;
border-radius: 5px;
height:50px;
padding-left:10px;
font-weight: bold;}

.content2>.search select{
width:100px;
color:#1c1c1b;
}

.content2>.search input{
width:200px;
height:47px;
}

.content2>.search button{
background-color: rgb(254,208,0);
border:none;
width:75px;
height:48px;
vertical-align: -1px;
font-weight: bold;
font-size:16px;
}

.content2>.search button:hover{
cursor: pointer;
background-color: rgb(255,223,68);
}

.content2>.search select:focus
{outline-color: rgb(26, 117, 188);}

.content2>.search input[type="text"]:focus
{outline-color: rgb(26, 117, 188);}

/* table */

.FAQ{width:850px; margin:30px 5px;
font-size:15px;
line-height: 3.5;}

.FAQ>thead>tr>th{
border-top: 2px double #d3d3d3;
border-bottom:1px solid #999;
text-align: center;
font-weight: bold;
color:#1c1c1b;}

.FAQ>tbody>tr>td{
border-bottom: 1px solid #ccc;
}

.FAQ>tbody>tr>td:nth-child(2):hover{text-decoration: underline;}

.FAQ>thead,.FAQ>tbody{color:#666;}

.FAQ>thead>tr>th:first-of-type{width:30px;}

.FAQ>tbody>tr>td:nth-of-type(2){text-align: left;
padding-left: 30px;}

.table_number>ul{margin-bottom:156px;}

.table_number>ul>li{display:inline-block;
background-color: #fff;
border: 1px solid #d3d3d3;
width:36px;height:20px;
margin-right: -5px;
padding:10px;
font-size:14px}

.table_number>ul>li:nth-child(2){
    background-color: rgb(254,208,0);
}

.table_number>ul>.t_num{
width:20px;
height:20px;
}

.table_number>ul>li:on{background-color: rgb(254,208,0);}


/* footer */

.footer_inner>.foot_menu{
  background-color: rgb(254,208,0); 
  width:100%;height:60px;}
                  
  .footer_inner>.foot_menu>ul>li{display: inline-block;
  position: relative;
  top:5px;
  font-size:14px;
  font-weight: bold;   
  line-height: 3.5;
  padding-left:30px;}
              
  .footer_inner>.foot_menu>ul>li:hover{
  text-decoration: underline;}
                  
          
  .foot_wrap{font-family: 'Noto Sans KR',sans-serif;}
  
  .foot_wrap>.foot_img>h3{
  float:left;
  transform: scale(0.4);
  margin-left:150px;}
                  
                  
  .foot_wrap>.foot_img>ul>li{float:left;}
                  
  .foot_wrap>.foot_img>ul>li>a{
  display: block;
  position:relative;
  right:100px;top:35px;border: none;
  background-color: #fff !important;
  width: 33px; height: 33px;
  transform: scale(0.8);
  padding:3px; 
  border-radius: 30px;
  text-indent: -9999px; overflow: hidden;}
                      
  .foot_wrap>.foot_img>ul>li>a:hover{
  background-color: rgb(254,208,0) !important;}
          
          
  .foot_wrap>address{float:left;
  width:800px; height:60px;
  margin-left:200px;}
      
  .foot_wrap>address>span{float:left;
  position:relative;padding-right: 10px; margin-right: 5px;
  line-height: 2;
  font-size:12.5px; color:#999;}
      
  .foot_wrap>address>span:first-of-type{font-weight: bold; color:#fff;}
  .foot_wrap>address>span:nth-of-type(6),.foot_wrap>address>span:nth-of-type(7)
  {margin-left: 20px;}             
                  
  .foot_wrap>.foot_img>ul>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
  .foot_wrap>.foot_img>ul>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;}
                  
  .foot_wrap>.foot_list{display: none;}
}


@media screen and (min-width:1025px){
    #footer{ width: 100%; height: 330px; background: #222; color: #777;
        text-align: center; letter-spacing: 0;}
          .foot_wrap{ width: 1393px; height:268px; margin: 0 auto;
            border: 1px solid rgba(0,0,0,0); }
/* header_inner */
.mbn_wrap{display: none;}

.header_wrap{transition: height 0.3s linear 0s;}
.header_wrap.on{height: 222px;}

h1.logo_mega{position:absolute;
transform: scale(0.45);}

.header_inner>nav.gnb>ul:hover>li>ul>li:first-of-type{padding-top:50px;}


nav.gnb{display: flex; justify-content: flex-end;
text-align: center;}

nav.gnb>ul{position:relative;
right:200px;}

nav.gnb>ul>li{
position:relative;
display:inline-block; 
width:135px;
padding:30px 0;
line-height: 20px;}
 
 
nav.gnb>ul>li>a{display:inline-block;
margin-top:10px;
font-weight: 600;
font-size: 18px;
color:#000;}

nav.gnb>ul>li>a:after{content:"";position: absolute;
left:50%;bottom:-10px;
transform: translateX(-50%);
width: 0;height: 0;opacity: 0;background: #000;transition: width .4s ease-in-out 0s;}
nav.gnb>ul>li:hover>a:after{width:70px;height: 1px;opacity: 1;z-index:1;}
 
 
nav.gnb>ul>li:hover,nav.gnb>ul>li:hover>ul{
background-color: rgb(254,208,0); }

nav.gnb>ul>li>ul{width:135px; height:160px;
position:absolute;font-size:12px; line-height: 30px;
display: none;
transition: height 0.3s linear 0s;}
nav.gnb>ul>li>ul.on{display:block;}
nav.gnb>ul>li>ul>li{font-size:14.5px;}

nav.gnb>ul>li>ul>li>a:hover{text-decoration: underline;}



.header_inner>div>ul.sns_m{position: relative;
float:right;
right:20px;
bottom:60px;}

.header_inner>div>ul.sns_m>li{float:left; margin-left: 5px;}
.header_inner>div>ul.sns_m>li>a{
display: block;
border: 2px solid #000;
width: 33px; height: 33px;
padding:3px; 
border-radius: 30px;
text-indent: -9999px; overflow: hidden;
transition: all .5s;}

.header_inner>div>ul.sns_m>li:hover>a{
border-color: transparent;
background-color: rgb(254,208,0) !important; }
        
.header_inner>div>ul.sns_m>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
.header_inner>div>ul.sns_m>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
.header_inner>div>ul.sns_m>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;} 

/* content1 */

#container>.content1{
background-color: rgb(68,68,68);
width: 100%; height:100px;
padding-top:200px;
padding-bottom:200px;}
.content1>p{font-family: 'Roboto',sans-serif;
color:#fff; font-size:30px;text-align: center;}
.content1>p span{color:rgb(254,208,0);font-size: 60px;font-weight: bold;}
.content1>p:nth-child(2){font-size: 16px; line-height: 5;}
.content2{width: 1340px;border:1px solid rgba(255,255,255,0);
text-align: center; margin:0 auto;}

/* content2 */

.content2>h3{text-align: center;
margin-top:100px;
font-family: 'Noto Sans KR',sans-serif;
font-size:43px;
font-weight: bold;
letter-spacing: 0;}

.content2>p{text-align: center;
margin-top:40px;
margin-bottom: 40px;
color:#1c1c1b;
font-size:16px;}


.content2>ul>li{display:inline-block;
background-color: #e9ecef;
cursor: pointer;
border: 1px solid #dee2e6;
width:150px;height:20px;
margin-right: -5px;
padding:15px;
}


.content2>ul>li:first-of-type{
background-color: #fff;
border: 1px solid rgba(255, 255, 255, 0);
}
.content2>ul>li a{font-size: 16px;
color:#1c1c1b;}

.content2>ul>li a:action{background-color: #fff;}

.content2>.search
{width:400px; margin:30px 35px;}

.content2>.search select,.content2>.search input
{border:1px solid #dee2e6;;
border-radius: 5px;
height:50px;
padding-left:10px;
font-weight: bold;}

.content2>.search select{
width:100px;
color:#1c1c1b;
}

.content2>.search input{
width:200px;
height:47px;
}

.content2>.search button{
background-color: rgb(254,208,0);
border:none;
width:75px;
height:48px;
vertical-align: -1px;
font-weight: bold;
font-size:16px;
}

.content2>.search button:hover{
cursor: pointer;
background-color: rgb(255,223,68);
}

.content2>.search select:focus
{outline-color: rgb(26, 117, 188);}

.content2>.search input[type="text"]:focus
{outline-color: rgb(26, 117, 188);}

/* table */

.FAQ{width:1270px; margin:30px 35px;
font-size:15px;
line-height: 3.5;}

.FAQ>thead>tr>th{
border-top: 2px double #d3d3d3;
border-bottom:1px solid #999;
text-align: center;
font-weight: bold;
color:#1c1c1b;}


.FAQ>tbody>tr>td{
border-bottom: 1px solid #ccc;
}

.FAQ>tbody>tr>td:nth-child(2):hover{text-decoration: underline;}

.FAQ>thead,.FAQ>tbody{color:#666;}

.FAQ>thead>tr>th:first-of-type{width:30px;}

.FAQ>tbody>tr>td:nth-of-type(2){text-align: left;
padding-left: 30px;}

.table_number>ul{margin-bottom:156px;}

.table_number>ul>li{display:inline-block;
background-color: #fff;
border: 1px solid #d3d3d3;
width:45px;height:20px;
margin-right: -5px;
padding:10px;
font-size:16px}

.table_number>ul>.t_num{
width:25px;
}

.table_number>ul>li:nth-child(2){
    background-color: rgb(254,208,0);
}

.table_number>ul>li:on{background-color: rgb(254,208,0);}


/* footer */

.footer_inner>.foot_menu{
    background-color: rgb(254,208,0); 
    width:100%;height:60px;}
                
    .footer_inner>.foot_menu>ul>li{display: inline-block;
    position: relative;
    right:29%;
    font-size:16px;
    font-weight: bold;   
    line-height: 3.5;
    padding-left:30px;}
                
    .footer_inner>.foot_menu>ul>li:hover{
    text-decoration: underline;}
                
        
    .foot_wrap{font-family: 'Noto Sans KR',sans-serif;}
    .foot_wrap>.foot_img>h3{
    float:left;
    transform: scale(0.45);
    margin-top:30px;
    margin-left:-72px;}
                
                
    .foot_wrap>.foot_img>ul>li{float:left;}
                
    .foot_wrap>.foot_img>ul>li>a{
    display: block;
    position:relative;
    right:120px;top:60px;border: none;
    background-color: #fff !important;
    width: 33px; height: 33px;
    transform: scale(0.8);
    padding:3px; 
    border-radius: 30px;
    text-indent: -9999px; overflow: hidden;}
                    
    .foot_wrap>.foot_img>ul>li>a:hover{
    background-color: rgb(254,208,0) !important;}
        
        
    .foot_wrap>address{
    width: 540px; margin-left:60px;
    margin-top:130px;}
    
    .foot_wrap>address>span{float:left;
    position:relative;padding-right: 10px; margin-right: 5px;
    line-height: 2;
    font-size:14px; color:#888;}
    
    .foot_wrap>address>span:first-of-type{font-weight: bold; color:#fff;}
                
                
    .foot_wrap>.foot_img>ul>li:first-of-type>a{background: url(../images/sns_blog.png) no-repeat 3px 3px;}
    .foot_wrap>.foot_img>ul>li:nth-of-type(2)>a{background: url(../images/sns_facebook.png) no-repeat 3px 3px;}
    .foot_wrap>.foot_img>ul>li:last-of-type>a{background: url(../images/sns_instagram.png) no-repeat 3px 3px;}
                
                
                
    .foot_wrap>.foot_list>ul{width:100%;
    text-align: left;}
                
    .foot_wrap>.foot_list>ul>span{color:#fff; }
                
    .foot_wrap>.foot_list>ul>li{
    position:relative;
    left:150px; bottom:100px;
    display:inline-block; width:135px;
    font-weight: normal;font-size: 18px;
    color:#fff;}
                
    .foot_wrap>.foot_list>ul>li a{
    color:#888; font-size: 14px;
    line-height: 2;}
    
    .foot_wrap>.foot_list>ul>li a:hover{text-decoration: underline; color:#fff;}
            
    .foot_wrap>.foot_list>ul>li>ul{position: absolute;margin-top:10px;}
    .foot_wrap>.foot_list>ul>li>ul>li a{margin-top: 10px;}
}